<h2> Component </h2>
<hr>
Tiempo Consumido: {{x-timer autoStart='true' startTime=currentTime.time format='MM:SS' stopRequired=false}}
{{#if available}}
  Llena tus respuestas! :-D
{{else}}
  Ya ni lo intentes chavo!
{{/if}}
<hr>

